<body>
  <h1>"ようこそ"<strong>Bookers</strong>"へ！"</h1>

  <p class="p-top"><strong>Bookers</strong>ではさまざまな書籍に関するあなたの意見や</p>

  <p class="p-top">感想を共有し交換する事ができます</p>
  <p class="p-top">
    <%= link_to "Start", books_path, method: :get %>
  </p>
</body>