<% if book.errors.any? %>
  <div class="alert alert-warning">
    <h2 class="red"><%= pluralize(book.errors.count, "error") %></h2>
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>